body {
	margin: 0;
	font-family: sans-serif;
	text-align: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

@media (max-width: 480px) {
	body {
		color: white;
		background-color: palevioletred;
	}

	body h1::after {
		content: " - mobile size";
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	body {
		color: white;
		background-color: blueviolet;
	}
	body h1::after {
		content: " - tablet size";
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	body {
		color: white;
		background-color: black;
	}
	body h1::after {
		content: " - small desktop size";
	}
}

@media (min-width: 1025px) {
	body {
		color: white;
		background-color: indigo;
	}
	body h1::after {
		content: " - large desktop size";
	}
}